{% extends 'index.html' %}
{% load static %}
{% block content %}



<!-- Page Content -->
<div class="page-heading about-heading header-text">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="text-content">
          <h4>A propos de</h4>
          <h2>Notre société</h2>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="best-features about-features">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <h2>Notre parcours</h2>
        </div>
      </div>
      <div class="col-md-6">
        <div class="right-image">
          <img src="{% static 'assets/images/9.jpg' %}" alt="">
        </div>
      </div>
      <div class="col-md-6">
        <div class="left-content">
          <h4>Qui somme nous &amp; Que faisons nous</h4>
          <p>Les Ets Bleu Marine sont une grande structure commerciale basé dans la vente de matériaux de constructions et machines industrielle. Situé à Dapaong, elle met à la disposition de sa clientèle trois (03) magasins afin de faciliter leurs achats partout à Dapaong sans être obligé de parcourir de longue distance
          </p>
          <ul class="social-icons">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa fa-behance"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="team-members">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <h2>Les membres de notre équipe</h2>
        </div>
      </div>
      <div class="col-md-4">
        <div class="team-member">
          <div class="thumb-container">
            <img src="{% static 'assets/images/team members/DG.jpg' %}" alt="">
            <div class="">
              <!-- <div class="hover-content">
                    <ul class="social-icons">
                      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                      <li><a href="#"><i class="fa fa-behance"></i></a></li>
                    </ul>
                  </div> -->
            </div>
          </div>
          <div class="down-content">
            <h4>FLINDJO Lengue</h4>
            <span>Fondateur et DG</span>
            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing itaque corporis nulla.</p> -->
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="team-member">
          <div class="thumb-container">
            <img src="{% static 'assets/images/Team members/team2.jpg' %}" alt="">
            <div class="">
              <!-- <div class="hover-content">
                    <ul class="social-icons">
                      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                      <li><a href="#"><i class="fa fa-behance"></i></a></li>
                    </ul>
                  </div> -->
            </div>
          </div>
          <div class="down-content">
            <h4>Veronique</h4>
            <span>Secretaire</span>
            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing itaque corporis nulla.</p> -->
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="team-member">
          <div class="thumb-container">
            <img src="{% static 'assets/images/Team members/team3.jpg' %}" alt="">
            <div class="">
              <!-- <div class="hover-content">
                    <ul class="social-icons">
                      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                      <li><a href="#"><i class="fa fa-behance"></i></a></li>
                    </ul>
                  </div> -->
            </div>
          </div>
          <div class="down-content">
            <h4>Andre</h4>
            <span>Magasinier</span>
            <p></p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="team-member">
          <div class="thumb-container">
            <img src="{% static 'assets/images/Team members/team1.jpg' %}" alt="">
            <!-- <div class="">
                   <div class="hover-content">
                    <ul class="social-icons">
                      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                      <li><a href="#"><i class="fa fa-behance"></i></a></li>
                    </ul>
                  </div>  
                </div> -->
          </div>
          <div class="down-content">
            <h4>Rosali</h4>
            <span>Livreur</span>
            <p></p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="team-member">
          <div class="thumb-container">
            <img src="{% static 'assets/images/Team members/team4.jpg' %}" alt="">
            <div class="">
              <!-- <div class="hover-content">
                    <ul class="social-icons">
                      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                      <li><a href="#"><i class="fa fa-behance"></i></a></li>
                    </ul>
                  </div> -->
            </div>
          </div>
          <div class="down-content">
            <h4>George Walker</h4>
            <span>Comptable</span>
            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing itaque corporis nulla.</p> -->
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="team-member">
          <div class="thumb-container">
            <a href="https://togotulawo.com"><img src="{% static 'assets/images/Team members/11.png' %}" alt=""></a>
            <div class="">
              <!-- <div class="hover-content">
                    <ul class="social-icons">
                      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                      <li><a href="#"><i class="fa fa-behance"></i></a></li>
                    </ul>
                  </div> -->
            </div>
          </div>
          <div class="down-content">
            <h4>Togotulawo</h4>
            <span>Informaticien</span>
            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing itaque corporis nulla.</p> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="happy-clients">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <h2>Les partenaires satisfaits</h2>
        </div>
      </div>
      <div class="col-md-12">
        <div class="owl-clients owl-carousel">
          <div class="client-item">
            <img src="{% static 'assets/images/Partners/sosImg2.png' %}" alt="1">
          </div>

          <div class="client-item">
            <a href="https://togotulawo.com"><img src="{% static 'assets/images/Team members/11.png' %}" alt=""></a>
          </div>

          <div class="client-item">
            <img src="{% static 'assets/images/22.png' %}" alt="3">
          </div>

          <div class="client-item">
            <img src="{% static 'assets/images/Partners/BAT.png' %}" alt="4">
          </div>

          <div class="client-item">
            <img src="{% static 'assets/images/Partners/BSIC.png' %}" alt="5">
          </div>

          <!-- <div class="client-item">
            <img src="{% static 'assets/images/client-01.png' %}" alt="6">
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}