{% extends 'index.html' %}
{% load static %}

{% block content %}
    <!-- Page Content -->
    <div class="page-heading products-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="text-content">
              <h4>Nouveautes</h4>
            </div>
          </div>
        </div>
      </div>
    </div>

    
    <div class="products">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="filters">
              <ul>
                  <li class="active" data-filter="*">Tous les produits</li>
                  <li data-filter=".des">Electricité</li>
                  <li data-filter=".dev">Plomberie</li>
                  <li data-filter=".gra">Matériels et divers</li>
              </ul>
            </div>
          </div>
          <div class="col-md-12">
            <div class="filters-content">
                <div class="row grid">
                  {% for product in all_products %}
                    <div class="col-lg-4 col-md-4 all">
                      <div class="product-item">
                        <a href="#"><img src="{{product.image.url}}" alt=""></a>
                        <div class="down-content">
                          <a href="#"><h4>{{product.name}}</h4></a>
                          <!-- <h6>$18.25</h6>
                          <p></p> -->
                          <!-- <ul class="stars">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                          </ul> -->
                          <!-- <span>Commentaires/Avis (12)</span> -->
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                  {% for product in categorie_elec %}
                    <div class="col-lg-4 col-md-4 all des">
                      <div class="product-item">
                        <a href="#"><img src="{{product.image.url}}" alt=""></a>
                        <div class="down-content">
                          <a href="#"><h4>{{product.name}}</h4></a>
                          <!-- <h6>$18.25</h6>
                          <p></p> -->
                          <!-- <ul class="stars">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                          </ul> -->
                          <!-- <span>Commentaires/Avis (12)</span> -->
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                  {% for product in categorie_plomb %}
                    <div class="col-lg-4 col-md-4 all dev">
                      <div class="product-item">
                        <a href="#"><img src="{{product.image.url}}" alt=""></a>
                        <div class="down-content">
                          <a href="#"><h4>{{product.name}}</h4></a>
                          <!-- <h6>$18.25</h6>
                          <p></p> -->
                          <!-- <ul class="stars">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                          </ul> -->
                          <!-- <span>Commentaires/Avis (12)</span> -->
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                  {% for product in categorie_mat %}
                    <div class="col-lg-4 col-md-4 all gra">
                      <div class="product-item">
                        <a href="#"><img src="{{product.image.url}}" alt=""></a>
                        <div class="down-content">
                          <a href="#"><h4>{{product.name}}</h4></a>
                          <!-- <h6>$18.25</h6>
                          <p></p> -->
                          <!-- <ul class="stars">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                          </ul> -->
                          <!-- <span>Commentaires/Avis (12)</span> -->
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
          </div>
          <div class="col-md-12">
            <ul class="pages">
              <li><a href="#">1</a></li>
              <li class="active"><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    {% endblock %}
